# Dependencies
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.env

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# Database Files
*.sqlite3

# Build outputs
frontend/dist/
frontend/build/
